<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yg.capstoneserver.mapper.ArticalMapper">
  <resultMap id="BaseResultMap" type="cn.yg.capstoneserver.entity.Artical">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="like" jdbcType="INTEGER" property="like" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgurl" />
    <result column="crt_time" jdbcType="DATE" property="crtTime" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
  </resultMap>

</mapper>