<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yg.capstoneserver.mapper.UserFocusMapper">
    <resultMap id="BaseResultMap" type="cn.yg.capstoneserver.entity.UserFocus">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="fid" property="fid" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getFocusIds" parameterType="String" resultType="String">
        select fid
        from user_focus
        where uid = #{uid}
    </select>
</mapper>