<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.yg.capstoneserver.mapper.UserMapper">
    <select id="selectUserVo" resultMap="" parameterType="int">
        select u.id, u.name, u.age, s.name school_name, a.name academy_name, m.name major_name, c.name clazz_name
        from user u left join school s on u.school_id = s.id
                    left join academy a on u.academy_id = a.id
                    left join major m on u.major_id = m.id
                    left join clazz c on u.clazz_id = c.id
        where u.id = ${id}
    </select>
</mapper>